.graphBg {
  position: relative;
  background-color: var(--slate);
  border-radius: 5px;
  padding: 15px;
}

.LineGraph {
  width: 100%;
  margin: 0;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.totalLineGraph {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 100%;
  margin: 0;
}

.DoughnutGraph,
.DoughnutGraph2 {
  position: relative;
  background: none;
  max-width: 280px;
  max-height: 280px;
  /* margin-top: 20px; */
}

#grandTotal,
#grandTotal2 {
  position: absolute;
  top: 48%;
  color: var(--greenText);
  margin: 0;
  line-height: 90%;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .totalLineGraph {
    grid-column: 1 / 4;
  }
  .LineGraph {
    grid-column: 1 / 4;
  }
  .DoughnutGraph2 {
    margin-top: -10px;
  }
}