html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: linear-gradient(180deg, #110a21, #1f2138) no-repeat center center fixed;
}

.App {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}
.layoutMaster {
	display: grid;
	grid-template-columns: 280px 1fr;
	grid-template-rows: 25px 1fr;
	max-width: 2000px;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
.graphGrid {
	display: grid;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	width: 100%;
	height: 100%;
	margin: 0;

	align-content: start;

	grid-template-columns: 280px 1fr auto;
	grid-template-rows: 280px auto auto auto;
	align-items: start;
}
.graphBg {
	background-color: #1c243a;
	padding: 0 15px 15px 15px;
}
.loadingRef {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	grid-column: 2 / -1;
	grid-row: 1 / 3;
}
.totalLineGraph {
	grid-column: 2 / -1;
	grid-row: 1 / -1;
	width: 100%;
	padding: 0;
	margin: 0;
}
.LineGraph {
	max-width: 100%;
	max-height: 100%;
}
.DoughnutGraph {
	position: relative;
	background: none;
}
#grandTotal {
	position: absolute;
	top: 45%;
	color: rgb(0, 200, 200);
	margin: 0;
	line-height: 90%;
	text-align: center;
}
.ColorLegend {
	border: 5px solid #1c243a;
	background-color: #001320;
	padding: 0.5rem;
	max-width: 100%;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
ul.legend {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	list-style-type: none;
	margin: 0;
	padding: 0;
	max-height: 400px;
}
.legendBlock {
	display: block;
	height: 15px;
	width: 15px;
}
li {
	display: flex;
	align-items: center;
}

h1 {
	margin: 0 1rem 0 1rem;
	letter-spacing: 0.2rem;
	color: rgb(0,200,200);
	z-index: 1;
}
#header {
	display: grid;
	grid-template-rows: 50vh 50vh;
	justify-items: center;
	width: 100%;
}
#header >*:nth-child(1) {
	align-self: end;
}
#header >*:nth-child(2) {
	align-self: start;
}

h2 {
	text-align: center;
	color: #f174d8;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1.1rem;
	letter-spacing: 0.2rem;
	background: #1c243a;
	border: 3px solid #1c243a;
}

/* START END DATE COMPONENT*/
#StartEndDates h3 {
	margin: 0;
	color: rgb(0,200,200);
	font-size: 12px;
	min-width: max-content;
	margin-bottom: 0;
}
#StartEndDates {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 0;
	padding: 5px;
	width: 100%;
	grid-column: 1 / 3;
}
#StartEndDates >*:nth-child(1) {
	justify-self: start;
}
#StartEndDates >*:nth-child(2) {
	justify-self: end;
}
.SearchBox {
	text-align: center;
	background-color: #1c243a;
	border-radius: 20px;
	margin: 0;
}
.SearchBox input {
	text-align: center;
	font-size: 1rem;
}
.SearchBox p {
	color: rgb(0,200,200);
}

.CallCardContainer {
	display: grid;
	align-items: center;
	width: 100%;

}
.CallCard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	color: rgb(0,200,200);
	margin-top: 1rem;
	border: 5px solid #1c243a;
	border-radius: 0 0 20px 20px;
	background-color: #1c243a;

}
.CallCard div {
	border: 2px solid #1c243a;
	margin: 0.25rem;
	background-color: #0c142a;
	border-radius: 0 0 15px 15px;
}
.CallCard p {
	margin: 0.5rem 1rem 1rem 1rem;
}
.lbl {
	background-color: #015b00;
	border: 3px solid #015b00;
	margin: 2px;
	font-size: 1rem;
	font-weight: normal;
	text-align: center;
}

/* Main Picker Component */
.ClassificationPicker {
	position: relative;
	align-self: end;
	background-color: #001320;
	font-size: 15px;
	width: 100%;
	height: auto;
	margin: 0;
	transition-property: transform;
	transition-duration: 0.5s;
	border: 3px solid #6d1158;
	align-self: start;
	grid-column: 1 / 2;
	grid-row: 2 / 3 ;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 1;
	transform: translateX(0);
}
#pickerHandle {
	position: absolute;
	left: calc(100% + 3px);
	top: -3px;
	background-color: #6d1158;
	height: auto;
	/* width: 20px; */
	border-radius: 0 5px 5px 0;
	z-index: -1;
	writing-mode: vertical-rl;
	letter-spacing: 3px;
	color: #e932bf;
}
#pickerHandle:hover {
	filter:brightness(1.5);
}
.open {
	transform: translateX(0);
}
.close{
	transform: translateX(-100%);
}

.ClassificationPicker > h2 {
	cursor: pointer;
	margin-top: 0;
}
.ClassificationPicker > h2:hover {
	background-color: rgb(0,200,200);
	color: #001320;
	border-color: rgb(0,200,200);
}
.ClassificationPicker form {
display: flex;
flex-direction: column;
margin: 10px 0 10px 0;

}
.ClassificationPickerItem {
	display: flex;
	align-items: center;
	padding: 2px;
	margin: 0;
}
.ClassificationPickerItem label {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
span.readableClassification {
	font-size: 15px;
	opacity: 0.8;
	margin: 0;
}
span.acronymClassification {
	margin: 0 5px 0 5px;
	min-width: 50px;
}

.ClassificationPickerCheckbox {
	margin: 0;
	cursor: pointer;
	appearance: none;
	height: 16px;
	width: 16px;
	border: 2px solid #2c344a;
	box-sizing: border-box;
	transition-property: border-width;
	transition-duration: 0.2s;
}
.ClassificationPickerCheckbox:checked {
		transition-property: border-width;
		transition-duration: 0.2s;
		border-width: 8px;
}
.ClassificationPickerCheckbox:focus {
    outline-color: rgb(0,200,200);
    outline-style: dashed;
}

button {
	border: none;
	font-size: 15px;
	background-color: rgb(0,200,200);
	height: 25px;
}
button:focus, #startPicker:focus, #endPicker:focus, #companySelect:focus{
    outline-color: rgb(0,200,200);
    outline-style: dashed;
}
button:hover, #startPicker:hover, #endPicker:hover {
	cursor: pointer;
	background-color: rgb(0,255,255);
	transition-duration: 0.2s;
}
button:active {
	background-color: rgb(0,255,255);
	transform: scale(0.9);
	transition-property: transform;
	transition-duration: 0.1s;
}
#viewRecords {
	width: 100%;
}
#openPickers {
	align-self: center;
	width: 25%;
	margin: 3px;
}
#startPicker, #endPicker {
	background-color: rgb(0,200,200);
	margin: 0;
	font-size: 14px;
	text-align: center;
	width: 100%;
	border: none;
}
label[for="startPicker"] {
	color: rgb(0,200,200);
}
label[for="endPicker"] {
	color: rgb(0,200,200);
}
label[for="companySelect"] {
	color: rgb(0,200,200);
}
.wrapperC {
	display: flex;
	padding: 2px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border: 1px solid #1c243a;
}
.wrapperR {
	display: flex;
}
.wrapperC label {
	margin: 2px;
}

#companySelect {
	margin-top: 0;
	font-size: 14px;
	padding: 0.1rem;
	background-color: rgb(0,200,200);
	text-align: center;
	width: 100%;
	border: none;
}
#companySelect:hover {
	background-color: rgb(0,255,255);
	transition-duration: 0.2s;
}
::placeholder {
	color: black;
}
/* =========================waiting for database indicator=========================== */

.loadingFlex {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.noData {
	transition-property: all;
	transition-duration: 1s;
	margin: 0;
	padding: 1%;
	font-size: 18px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: rgb(240,240,0);
	border: 2px solid rgb(240,240,0);
	border-radius: 5px;
}

