:root {
  --greenText: rgb(0, 250, 200);
  --greyCyan: rgb(0, 200, 200);
  /* maybe we can grab this in react and pass it to the charts */
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(180deg, #110a21, #1f2138) no-repeat center center
    fixed;
}

.App {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
}
.layoutMaster {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: min-content 1fr 15px;
  max-width: 2000px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  grid-gap: 0;
  overflow: hidden;
}

.graphGrid {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: start;
  grid-template-columns: 280px 1fr 0px 10px;
  grid-template-rows: auto auto 1fr;
  align-items: start;
  overflow-y: auto;
}

.callGrid {
  display: grid;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: start;
  grid-template-columns: 280px 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  overflow-y: auto;
}

.SearchBox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px 10px 35px;
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  font-size: 15px;
}

.CallCardList {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px 10px 10px;
  width: 100%;
  height: 100%;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  overflow-y: auto;
  margin: 0;
}

.leftSubGrid {
	position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 285px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 0 5px 5px 5px;
	transition: height 0.5s;
}

.hideDoughnutOnMobile {
	height: 0px;
}

#doughnutHandle {
	display: none;
	position: absolute;
	background-color: #6d1158;
	color: #e932bf;
	top: -100px;
	height: 40px;
	width: 40px;
	left: 0;
	border-radius: 50%;
}

.mobileChartDrawer {
	border-top: none;
}

.SearchBox p {
  margin: 0;
}

.CompanyRankings {
  border: 5px solid #1c243a;
  border-radius: 5px;
  padding: 0.5rem;
  flex: 1;
  min-width: 250px;
  max-width: 280px;
  margin: 0;
}

.graphBg {
  position: relative;
  background-color: #1c243a;
  border-radius: 5px;
  padding: 15px;
}

/* .loadingRef {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	grid-column: 2 / 4;
	grid-row: 1 / 2;
} */

.LineGraph {
  width: 100%;
  margin: 0;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.totalLineGraph {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 100%;
  margin: 0;
}

.DoughnutGraph,
.DoughnutGraph2 {
  position: relative;
  background: none;
  max-width: 280px;
  max-height: 280px;
}

#grandTotal,
#grandTotal2 {
  position: absolute;
  top: 48%;
  color: rgb(0, 250, 200);
  margin: 0;
  line-height: 90%;
  text-align: center;
}

.ColorLegend {
  border: 5px solid #1c243a;
  border-radius: 5px;
  background-color: #001320;
  padding: 0.5rem;
  max-width: 100%;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 10px 0px;
}

.rotate {
  transform: rotate(90deg);
}

@media screen and (max-width: 840px) {
  .ColorLegend {
    grid-column: 1 / 4;
  }
  .totalLineGraph {
    grid-column: 1 / 4;
  }
  .LineGraph {
    grid-column: 1 / 4;
  }
  .leftSubGrid {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
  .SearchBox {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .CallCardList {
    grid-column: 1 / 4;
    grid-row: 2;
  }
	#doughnutHandle {
		display: inline-block;
		left: 90%;
	}
	.mobileChartDrawer {
		border-top: 3px solid #6d1158;
	}
}

ul.legend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
}
.legendBlock {
  display: block;
  height: 15px;
  width: 15px;
}
li {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 1rem 0 1rem;
  letter-spacing: 0.2rem;
  color: var(--greyCyan);
  z-index: 1;
}
#header {
  display: grid;
  grid-template-rows: 50vh 50vh;
  justify-items: center;
  width: 100%;
}
#header > *:nth-child(1) {
  align-self: end;
}
#header > *:nth-child(2) {
  align-self: start;
}

/* START END DATE COMPONENT*/
#StartEndDates h3 {
  margin: 0;
  color: var(--greyCyan);
  font-size: 12px;
  min-width: max-content;
  margin-bottom: 0;
}
#StartEndDates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0;
  padding: 5px;
  width: 100%;
  grid-column: 1 / 3;
}
#StartEndDates > *:nth-child(1) {
  justify-self: start;
}
#StartEndDates > *:nth-child(2) {
  justify-self: end;
}
.SearchBox input {
  height: 100%;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: var(--greyCyan);
  font-size: 15px;
}
.SearchBox p {
  color: var(--greyCyan);
  font-size: 15px;
}

.CallCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  color: var(--greyCyan);
  border-radius: 20px;
  font-size: 15px;
  padding: 6px;
  align-content: flex-start;
  height: max-content;
}

.CallCard div {
  margin: 4px 4px 4px 4px;
  background-color: #0c142a;
  text-align: center;
}
.CallCard p {
  margin: 0.5rem 1rem 1rem 1rem;
}
.lbl {
  margin: 0;
  color: #1c243a;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.classShield {
  border-radius: 0 0 25px 25px;
  text-align: center;
  padding: 0;
  width: 60px;
}
.classShield p {
  margin: 7px 0 0 0;
}

.open {
  transform: translateX(0);
}

/* these two might be used in the legend */
span.readableClassification {
  font-size: 15px;
  opacity: 0.8;
  margin: 0;
}
span.acronymClassification {
  margin: 0 5px 0 5px;
  min-width: 50px;
}

button {
  border: none;
  font-size: 15px;
  background-color: var(--greyCyan);
  height: 25px;
}
button:focus,
#startPicker:focus,
#endPicker:focus,
#companySelect:focus {
  outline-color: var(--greyCyan);
  outline-style: dashed;
}
button:hover,
#startPicker:hover,
#endPicker:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 255);
  transition-duration: 0.2s;
}
button:active {
  background-color: rgb(0, 255, 255);
  transform: scale(0.9);
  transition-property: transform;
  transition-duration: 0.1s;
}
#viewRecords {
  width: 100%;
}

#toggleView {
  align-self: center;
  margin: 15px 0 5px 0;
  width: 50%;
  border-radius: 10px;
}
#openPickers {
  align-self: center;
  width: 25%;
  margin: 3px;
}
#startPicker,
#endPicker {
  background-color: var(--greyCyan);
  margin: 0;
  font-size: 14px;
  text-align: center;
  width: 100%;
  max-width: 131px;
  border: none;
}
.flatpickr-input {
  /* for mobile native date pickers that don't obey... */
  width: 131px;
}

.CompanySelect select {
  margin-top: 0;
  font-size: 14px;
  padding: 0.1rem;
  background-color: var(--greyCyan);
  text-align: center;
  width: 100%;
  border: none;
}
.CompanySelect select:hover {
  background-color: rgb(0, 255, 255);
  transition-duration: 0.2s;
}
.CompanySelect select:disabled {
  background-color: rgb(113, 57, 14);
  max-width: 100%;
  min-width: 266px;
}
::placeholder {
  color: black;
}
/* =========================waiting for database indicator=========================== */
.loadingRef {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.loadingFlex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.noData {
  transition-property: all;
  transition-duration: 1s;
  margin: 0;
  padding: 1%;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(240, 240, 0);
  border: 2px solid rgb(240, 240, 0);
  border-radius: 5px;
  background: black;
  z-index: 3;
}
